@import "~bootstrap/scss/bootstrap.scss";

.tl-box {
    height: 100%;
};

.bolster {
    width: 20px;
    height: 75px;
    background-color: black;
};

.tl-body {
    background-color: black;
    border-radius: 15px;
}

.tl-body > div {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 15px 10px;
}

.red-light {background-color: red};
.yellow-light {background-color: yellow};
.green-light{background-color: green};
.glow {box-shadow: rgb(255, 251, 0) 0px 0px 50px 20px};